:root {
  --main-color: rgb(252, 214, 13);
  --secondary-color:rgb(114, 90, 174);
  --bg-main-color: rgba(114, 90, 174, 0.486);
  --bg-secondary-color: rgba(245, 205, 9, 0.795);
  --btn-secondary-color: rgb(255, 213, 0);
  --font: 'Montserrat'
}

body {
  background-color: var(--bg-main-color);
}

.container {
  width: 80%;
  max-width: 800px;
  margin: 50px auto;
  background-color: var(--main-color);
  z-index: -1;
  border-radius: 10px;
}

h1 {
  font-family: var(--font);
  text-align: center;
  padding-top: 1rem;
}

img {
  width: 80%;
  display: block;
  margin: auto;
  box-shadow: 0 0 0 5px rgba(114, 90, 174, 0.486);
  border-radius: 0.5%;
}

p {
font-family: var(--font);
text-align: justify;
padding: 1rem 1.2rem;
}

button {
  z-index: 2;
}

.dark-light-btn {
    position: relative;
    color: #666;
    font-size: 20px;
    height: 60px;
    width: 60px;
    background-color: var(--secondary-color);
    line-height: 50px;
    border-radius:50%;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
    border: none;
    padding-bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;

  }

.dark-light-btn:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: var(--secondary-color);
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(1);
  transition: 0.4s;
}

.dark-light-btn:hover::before {
  filter: blur(2px);
  transform: scale(1.2);
}

img.btnIcon {
  position: relative;
  width: 30px;
  top: 8px;
}

body.dark {
  background-color: var(--bg-secondary-color);
  color: white;
}

body.dark > .container {
  background-color: var(--secondary-color);
}

body.dark img.image {
  width: 80%;
  display: block;
  margin: auto;
  box-shadow: 0 0 0 5px rgba(245, 205, 9, 0.795);
  border-radius: 0.5%;
}

body.dark img.btnIcon {
  background-color: var(--btn-secondary-color);
  box-shadow: 0 0 0 5px rgba(245, 205, 9, 0.795);
}

body.dark .dark-light-btn:before {
background-color: var(--btn-secondary-color);
}