* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

body {
background: rgb(0,114,193);
background: linear-gradient(324deg, rgba(0,114,193,1) 0%, rgba(255,255,255,1) 92%);
}

header.header {
  background-color: rgb(89, 182, 239);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

.logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s ease;
}

.logo img:hover {
  transform: scale(1.2)
}

ul.main-menu__list {
  list-style: none;
}

li.main-menu__item {
  display: inline-block;
  padding: 15px 60px 0 0;
  transition: all 0.3s ease;
}

li.main-menu__item:hover {
  transform: scale(1.1);
}

nav.main-menu a {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

nav.main-menu a:hover{
  color: rgb(255, 255, 255);
}

a.btn button {
  font-weight: 700;
  color:rgb(255, 153, 1);
  padding: 9px 25px;
  background: rgb(170, 4, 1);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.4s ease;
}

a.btn button:hover {
  background-color:white;
  transform: scale(1.1);
}

/* Submenu */

li.submenu {
  position: relative;
  padding-bottom: 15px;
}

ul.submenu__list {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 100%;
  width: 150px;
  list-style: none;
  transition: all 0.3s ease;

}

li.submenu:hover > ul.submenu__list {
  opacity: 1;
  visibility: visible;
}

li.submenu__item {
  margin-bottom: 5px;
}



