* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

body {
  background-color: #fff59d;
}

header.main-menu {
  background-color: rgb(89, 182, 239);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}

header .logo {
  margin-right: auto;
}

a.logo img {
  height: 70px;
  width: auto;
  transition: all 0.3s ease;

}

.logo img:hover {
  transform: scale(1.2)
}

ul.main-menu__list {
  list-style: none;
}

li.main-menu__item {
  display: inline-block;
  padding: 0 20px;
  transition: all 0.3s ease;
}

li.main-menu__item:hover {
  transform: scale(1.1);
}

a.main-menu__link {
  font-size: 1.2rem;
  color: black;
  text-decoration: none;
}

li.main-menu__item a:hover{
  color: red;
}

a.btn button {
  font-weight: 700;
  color:blueviolet;
  padding: 9px 25px;
  background: hotpink;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 20px
}

a.btn button:hover {
  background-color:white;
  transform: scale(1.1);

}